* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Segoe UI", Roboto, sans-serif
}

fieldset {
    display: block;
    padding: 1rem;
    margin-bottom: 1.25rem;
    border-radius: .5rem;
    border-color: white;
}

header {
    text-align: center;
}

input[type="text"], textarea, select {
    width: 100%;
    border: 1px solid darkgray;
    border-radius: .25rem;
    margin-bottom: 1.25rem;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: white;
}

legend {
    color: rgb(76, 175, 80);
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 12px;
}

main {
    background-color: white;
    width: 30%;
    max-width: 500px;
    min-width: fit-content;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

#submit-button {
    width: 100%;
    border: none;
    background-color: rgb(76, 175, 80);
    padding: 0.75rem 0.75rem;
    border-radius: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}