* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Segoe UI", Roboto, sans-serif
}

fieldset {
    text-decoration-color: lime;
    padding: 1rem;
    margin-bottom: 1.25rem;
}

header {
    text-align: center;
}

input[type="text"], textarea, select {
    width: 100%;
    border: 1px solid darkgray;
    border-radius: .25rem;
    margin-bottom: 1.25rem;
    padding: .75rem;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}