* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Segoe UI", Roboto, sans-serif
}

fieldset {
    text-decoration-color: lime;
}

header {
    text-align: center;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}